<header>
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/games">Liste des Jeux</a></li>
      <li><a href="/editors">Liste des Éditeurs</a></li>
      <li><a href="/types">Liste des Genres</a></li>
    </ul>
  </nav>
</header>
