# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Env Files
.env
.env.*

# Build directory
dist/
build/

# Prisma
.prisma/
.prisma_cache/
migrations/
# Ignorer les fichiers de la base de données SQLite locale (si utilisée)
database.db
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Temp files
*.tmp
*.temp
*.swp
*.bak

# Coverage reports
coverage/
.nyc_output/

# Dependency directories
/.pnp
.pnp.js

# Debug tools
debug/

# Cache files
.cache/
