<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/viewHighlighted.css"> 
    </head>
    <body>
        <div id="page">
            <h1>Jeux mis en avant</h1>
            <ul id="games-list">
                {{#each games}}
                <li class="game-item" onclick="window.location.href='/game/{{id}}'">
                    <a href="/game/{{id}}">{{name}}</a> 
                </li>
                {{/each}}
            </ul>
            <h3><a id="add-game-link" href="/games/addHighlighted">Modifier les jeux mis en avant</a></h3>
        </div>
    </body>
</html>
