<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Editeurs</h1>
            <p>{{editor.name}}</p>
        <h1>Liste des jeux</h1>

        {{#each editor.games}}
        <li>
            <a href="/game/{{id}}">{{name}}</a>
        </li>
        {{/each}}
    </body>
</html>