<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Liste des éditeurs</h1>
        {{#each editors}}
        <li>
            <a href="/editor/{{id}}">{{name}}</a>
        </li>
        {{/each}}
        <button type="submit" onclick="window.location.href='/games/newEditor'">Add new editor</button>
    </body>
</html>