<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/viewAll.css"> 
    </head>
    <body>
        <div id="page">
            <h1>Liste des jeux</h1>
            <ul id="list">
                {{#each games}}
                <li onclick="window.location.href='/game/{{id}}'">
                    <a href="/game/{{id}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
            <button id="add-btn" type="submit" onclick="window.location.href='/games/newGame'">Add new game</button>
        </div>
    </body>
</html>
