<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Liste des jeux</h1>
        {{#each games}}
        <li>
            <a href="/game/{{id}}">{{name}}</a>
        </li>
        {{/each}}

        <br><br><br>
        <button type="submit" onclick="window.location.href='/games/newGame'">Add new game</button>
        <button type="submit" onclick="window.location.href='/games/newEditor'">Add new editor</button>
        <button type="submit" onclick="window.location.href='/editors'">View all editors</button>

    </body>
</html>