<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/viewAll.css"> 
    </head>
    <body>
        <div id="page">
            <h1>Liste des genres</h1>
            <ul id="list">
                {{#each types}}
                <li onclick="window.location.href='/type/{{id}}'">
                    <a href="/type/{{id}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>
